.flow2Code {
  background: linear-gradient(
    331deg,
    rgb(244, 140, 232) 0%,
    rgba(196, 248, 191, 0.9) 100%
  );
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
