.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 12px;
  width: 15%;
  border-radius: 24px;
  // height: 70%;
  background: #f0f0f0;
  .gradient {
    height: 190px;
    width: 100%;
    background: #1f213a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid black;
  }
  .generalInfo {
    width: 100%;
    // height: 45%;
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrapperInfo {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2% 0;
      .projectTitle {
        font-family: 'ApfelFett';
        font-size: 7vw;
      }
      .description {
        margin-top: 5px;
        font-size: 3.7vw;
        color: #828282;
      }
    }
  }
}

@media (min-width: 600px) {
  .card {
    width: 80%;
    border-radius: 24px;
    height: auto;
    .gradient {
      background: #1f213a;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 260px;
      width: 100%;
      border: 1px solid black;
    }
    .generalInfo {
      width: 100%;
      border-radius: 12px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .wrapperInfo {
        .projectTitle {
          font-family: 'ApfelFett';
          font-size: 2.5vw;
        }
        .description {
          display: flex;
          font-size: 1vw;
          max-width: 90%;
        }
      }
    }
  }
}
