.optimoDev {
    background: linear-gradient(331deg, rgb(104, 215, 235) 0%, rgba(135, 243, 187, 0.9) 100%);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}