@use '../animations.scss' as *;

.hero {
  position: relative;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-size: 40px;
  font-family: 'Apfel';
  .nameBox {
    position: relative;
    height: 100%;
    top: 0%;
    left: 0;
    right: 0;

    nav {
      padding-top: 5vh;
      padding-left: 2vw;
      ul {
        list-style: none;
        li {
          padding-bottom: 0.5vh;
          button {
            display: block;
            position: relative;
            font-size: 4vw;
            background-color: transparent;
            border: none;
            text-decoration: none;
            color: rgb(0, 0, 0);
            transition: 0.2s;
            span {
              font-size: 2.6vw;
              font-family: 'Apfel';
              right: -1.3vw;
              position: absolute;
              color: #ff5353;
              bottom: -0.5vh;
              width: 1vw;
            }
            &:hover {
              color: rgb(0, 0, 0);
            }
          }
        }
      }
    }
  }

  .helloBox {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    .wrapper {
      position: absolute;
      bottom: 0;
      right: -50%;
      height: 14vw;
      width: 60%;
      transform: translate(-48%, 280%) rotate(-90deg);
      h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 6vw;
        height: 100px;
        &::after {
          content: '';
          display: block;
          width: 140%;
          height: 1px;
          background-color: black;
          margin-top: 0.5vh;
        }
      }
      h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 4.8vw;
      }
    }
    svg {
      width: 100%;
      height: 110%;
      transform: translate(0%, -10%);
      text {
        font-size: 10vw;
        animation: strokeMobile 7s forwards;
        transition: 0.6s;
        letter-spacing: -2px;
      }
    }
  }
}

@media (min-width: 600px) {
  .hero {
    position: static;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Apfel';
    .nameBox {
      position: static;
      background-color: rgb(255, 255, 255);
      width: 50%;
      height: 100%;
      padding: 0.7vh 1.2vh;
      nav {
        padding-top: 10vw;
        font-size: 1.8vw;
        padding-left: 0;
        ul {
          list-style: none;
          li {
            padding-bottom: 0.5vh;
            button {
              position: relative;
              font-size: 1.8vw;
              display: block;
              background-color: transparent;
              border: none;
              text-decoration: none;
              color: rgb(95, 95, 95);
              span {
                font-size: 1.2vw;
                font-family: 'Apfel';
                right: -1.3vw;
                position: absolute;
                color: #ff5353;
                bottom: -0.5vh;
                width: 1vw;
              }
            }
          }
        }
      }
    }
    .helloBox {
      position: static;
      background-color: #e1e1e1;
      width: 50%;
      height: 100%;
      .wrapper {
        position: static;
        padding: 0 8px;
        background-color: transparent;
        transform: translate(-100%, 0%);
        width: 100%;
        height: auto;
        h1 {
          position: static;
          height: auto;
          font-size: 3.4vw;
          letter-spacing: -2px;
          font-weight: 400;
          transform: none;
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: black;
            margin-top: 0.5vh;
          }
        }
        h2 {
          position: static;
          transform: none;
          font-size: 1.8vw;
          margin-top: 4px;
          font-weight: 400;
          letter-spacing: -1px;
          & span {
            font-weight: bold;
            letter-spacing: 0;
          }
        }
      }
      svg {
        width: 100%;
        height: 100%;
        text {
          font-size: 7vw;
          animation: stroke 7s forwards;
          transition: 0.6s;
          letter-spacing: -4px;
        }
      }
    }
  }
}
