.vanillaDate {
  background: linear-gradient(331deg,rgb(165 215 251) 0%, rgb(251 169 243 / 90%) 100%);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
