@use '../mixins.scss' as *;

.currentProject {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 40px;
  font-family: 'Apfel', sans-serif;
  .wrapperDesktop {
    display: none;
  }
  .wrapperMobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    header {
      display: flex;
      flex-direction: column;
      padding: 8px 8px 0 8px;
      .linkedIn {
        font-size: 4.3vw;
        font-family: 'Apfel', sans-serif;
        color: red;
        text-transform: none;
      }
      h1 {
        padding-top: 8px;
        font-size: 6vw;
        font-weight: 600;
      }
      h2 {
        padding-top: 4px;
        font-size: 4.8vw;
        font-weight: 400;
        line-height: 4.4vw;
      }
    }
    .container {
      background-color: #f3f3f3;
      position: relative;
      flex-grow: 1;
      margin: 8px;
      .githubLink {
        @include googlePlayButton;
        strong {
          margin-top: 1px;
        }
        svg {
          line-height: 10vw;
          margin-left: 5px;
          font-size: 3vw;
        }
      }
      img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-47%, -50%);
        width: 86%;
      }
    }
  }
  @media (min-width: 600px) {
    .wrapperMobile {
      display: none;
    }
    .wrapperDesktop {
      display: flex;
      width: 100%;
      height: 100%;
      .plantifiScrollBox {
        display: flex;
        flex-direction: column;
        background-color: #e1e1e1;
        width: 50%;
        height: 100%;
        .containerImg {
          display: flex;
          flex-direction: column;
          margin: 64px;
          justify-content: center;
          align-items: center;
          img {
            display: block;
            width: 213px;
            height: 462px;
            box-shadow: 57px 84px 120px -90px rgba(66, 68, 90, 1);
            border-radius: 26px;
          }
        }
        .scrollbar-thumb {
          width: 4px;
          background: rgba(0, 0, 0, 0.114);
        }
        .scrollbar-track-y {
          right: -4px;
        }
      }
      .plantifiDescriptionBox {
        width: 50%;
        header {
          display: flex;
          position: relative;
          flex-direction: column;
          width: 100%;
          padding: 4.5vw 4vw 0 4vw;
          h1 {
            font-size: 3.5vw;
            letter-spacing: -0.07vw;
            font-weight: 400;
          }
          h2 {
            font-size: 1.8vw;
            font-weight: 400;
            padding-top: 0.8vw;
          }
          a {
            color: black
          }
          .githubLink {
            @include googlePlayButton;
            position: static;
            font-weight: bold;
            transform: none;
            width: 15vw;
            height: 4vw;
            font-size: 1.2vw;
            margin-top: 2vw;
          }
        }
      }
    }
  }
}
