@use '../../animations.scss' as *;


.circleVideo {
    position: absolute;
    top: 60%;
    left: 38%;
    width: 33.5vw;
    height: 19vw;
    border-radius: 12px;
    animation: 0.3s visibility forwards;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 52px -20px rgba(0, 0, 0, 1);
}