* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Apfel';
  src: url('./fonts/Apfel.woff') format('woff'),
    url('./fonts/Apfel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
