.repo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Apfel', sans-serif;
  .repoInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    height: 30%;
    header {
      font-family: 'Apfel';
      h1 {
        font-size: 13vw;
        font-weight: 400;
        letter-spacing: -0.3vw;
      }
      h2 {
        font-size: 4vw;
        font-weight: 400;
        padding-left: 0.6vw;
        letter-spacing: -0.1vw;
        text-align: left;
      }
    }
  }
  .projects {
    width: 100%;
    height: 70%;
    background-color: #e1e1e1;
    overflow-x: scroll;
    .wrapper {
      display: flex;
      justify-content: space-around;
      width: 500vw;
      height: 100%;
      align-items: center;
    }
  }
}

@media (min-width: 600px) {
  .repo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: 'Apfel', sans-serif;
    .repoInfo {
      width: 50%;
      height: 100%;
      background-color: #ffffff;
      justify-content: center;
      align-items: center;
      header {
        margin-bottom: 5vw;
        h1 {
          font-size: 6vw;
          letter-spacing: -0.08vw;
          text-align: left;
        }
        h2 {
          font-size: 1.1vw;
          padding-left: 0.3vw;
          text-align: left;
          letter-spacing: normal;
        }
      }
    }
    .projects {
      width: 50%;
      height: 100%;
      background-color: #e1e1e1;
      overflow-x: auto;
      .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 300vh;
      }
      .scrollbar-thumb {
        width: 4px;
        background: rgba(0, 0, 0, 0.114);
      }
      .scrollbar-track-y {
        left: 0;
      }
    }
  }
}
